**.vscode**
**.terraform****.vscode**
**.terraform****.vscode**
**.terraform****.vscode**
**.terraform****.vscode**
**.terraform****.vscode**
**.terraform****.vscode**
**.terraform****.vscode**
**.terraform**
